{% extends 'base.html' %}

{% block title %}Delete Review{% endblock %}

{% block content %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h1>Delete Review</h1>
    <p>Are you sure you want to delete this review for "{{ review.game.name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Yes, Delete</button>
    </form>
    <a href="{% url 'game_detail' pk=review.game.pk %}">Cancel</a>
{% endblock %}