{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock head %}

{% block title %}
    {% if review %}
        Edit
    {% else %}
        Add
    {% endif %} 
    Review
{% endblock %}

{% block content %}
    <div class="form-container">
        <div class="form-card">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <h1>{% if review %}Edit{% else %}Add{% endif %} Review for {{ game.name }}</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Save</button>
            </form>
            <a href="{% url 'game_detail' pk=game.pk %}">Cancel</a>
        </div>
    </div>
{% endblock %}